<!DOCTYPE html>
<html>
<head>
  <title>Songify</title>
  <link rel="stylesheet" href="css/main.css">
  <style>
    input{
      margin-top: 7px;
    }
  </style>
</head>
<body>
  <h1><a href="/albums"><%= @message %></a></h1>
  <h1><a href="/playlists">Playlists</a></h1>
  <div>
     
    
    <% @songs.each do |song| %>
    <form action="/playlists" method="POST">
      <p><%= song.title %></p><input type="submit" name="<%= song.id %> <%= song.album_id %>  " value="Add to Playlist"> 
      <p><%= song.artist %></p>
      <p><%= song.link %></p>
    </form> 
    <% end %> 
    
    <form action="/albums/<%= @album_page %>" method="POST">
      <label for="title">Song Name</label>
      <input type="text" name="title" id="title" required placeholder="Enter Title"><br>
      <label for="artist">Artist</label>
      <input type="text" name="artist" id="artist" placeholder="Enter Artist"><br>
      <label for="link">Video Link</label>
      <input type="text" name="link" id="link" placeholder="Paste Video"><br>
      <input type="submit">
    </form>  
  </div>
</body>
</html>