<!DOCTYPE html>
<html>
<head>
  <title>Songify</title>
  <style>
    input{
      margin-top: 7px;
    }
  </style>
</head>
<body>
  <h1><a href="index.erb"><%= @message %></a></h1>
  <div>
    <ul>
      <% @remarks.each do |remark| %>
        <li> 
          <%= remark %>
        </li>
      <% end %>
    </ul>
   
    
        <h3><%= @album.title %></h3>
        <ul>
          <li><%= @album.year %></li>
          <li><%= @album.genre %></li>
          <li><%= @album.link %></li>
        </ul>    
  </div>
</body>
</html>